@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基础样式 */
html {
  font-family: "LXGW WenKai Lite", sans-serif;
  scroll-behavior: smooth;
  transition:
    color 0.3s,
    background-color 0.3s;
}

body {
  @apply m-0 p-0 text-left bg-cover text-xl leading-7;
  background-size: 100% 600px;
}

a {
  svg {
    @apply inline-block;
    vertical-align: -0.25rem;
  }
}

ol {
  @apply pl-[40px] list-decimal;
}

ul {
  @apply pl-[40px] list-disc;
}

li::marker,
.toc-number {
  color: oklch(var(--p));
}

/* 主题样式 */
html[data-theme-type="light"] {
  #content-box .active {
    color: oklch(var(--n));
    background-color: oklch(var(--b3));
  }
}

html[data-theme-type="dark"] {
  --pagefind-ui-primary: oklch(var(--nc));
  --pagefind-ui-text: oklch(var(--nc));
  --pagefind-ui-background: oklch(var(--b1));
  --pagefind-ui-border: oklch(var(--n));
  --pagefind-ui-tag: oklch(var(--b1));
}

/* 自定义字体定义 */
@font-face {
  font-family: "JetBrainsMonoNL NF";
  src: url("https://img.trtyr.top/images/person/JetBrainsMonoNLNerdFont.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai Lite";
  src: url("https://img.trtyr.top/images/person/LXGWWenKai-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 代码块样式 */
code {
  font-family: "JetBrainsMonoNL NF", monospace;
  font-size: 1.25rem;
  padding: 2px 5px;
  border-radius: 0.125rem;
}

pre {
  font-family: "JetBrainsMonoNL NF", monospace;
  padding: 10px;
}

/* 组件样式 */
.no-card {
  border-radius: var(--rounded-box, 1rem);
}

.link-card a,
a {
  @apply relative no-underline;
}

.katex-display {
  overflow-x: auto;
}

.main-card img {
  @apply rounded-xl;
}

.main-card p,
.main-card li,
.main-card blockquote {
  a {
    @apply px-0.5 rounded-md font-medium;
    color: oklch(var(--p));
    transition:
      background-color 0.3s,
      background-size 0.3s,
      background-position 0.3s ease;
    box-decoration-break: clone;
    background-image: linear-gradient(oklch(var(--p)), oklch(var(--p)));
    background-size: 100% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  a:hover {
    background-color: oklch(var(--p) / 0.3);
    background-size: 0% 2px;
  }

  a:active {
    background-color: oklch(var(--p) / 0.2);
    background-size: 0% 2px;
  }
}

.anchor {
  @apply p-0.5 rounded-xl font-medium;
  margin-left: 4px;
  color: oklch(var(--p));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  opacity: 0;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    color 0.3s,
    text-decoration 0.3s ease;

  svg {
    @apply inline-block;
    vertical-align: -0.25rem;
  }
}

.anchor:hover {
  background-color: oklch(var(--p) / 0.3);
}

.anchor:active {
  background-color: oklch(var(--p) / 0.2);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
}

/* 标题样式 */
h1 {
  @apply text-5xl leading-tight pt-7;
}

h2 {
  @apply text-4xl leading-snug pt-6;
}

h3 {
  @apply text-3xl leading-normal pt-5;
}

h4 {
  @apply text-2xl leading-relaxed pt-4;
}

h5 {
  @apply text-xl leading-relaxed pt-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-2 mb-1 font-semibold;
}

/* 表格与块样式 */
table {
  @apply border-collapse my-2;
  table-layout: fixed;
}

thead th {
  border-bottom: 1px solid oklch(var(--bc) / 0.25);
}

tr:last-child td {
  border-bottom: none;
}

thead {
  color: oklch(var(--s));
}

blockquote {
  @apply alert px-6;
}

hr {
  @apply my-2;
}

/* 图片链接效果 */
.image-link {
  position: relative;
  display: inline-block;

  img {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
  }

  &:hover img {
    transform: scale(1.2);
    filter: brightness(0.5);
  }

  &:active img {
    transform: scale(1.1);
    filter: brightness(0.5);
  }
}

/* 动画效果 */
.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease forwards;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
